<%= render "/users/user" %>
<%@posts.each do |post| %>
<div class= "post-preview">
    <p>Post #<%=post.id%></p>
    <h2><%=link_to post.title, user_post_path(@users.id, post.id) %></h2>
    <p><%= post.text %></p>
    Comments: <%= post.comments_counter%>
    Likes: <%= post.likes_counter %>
</div>
<div class= "comments-block">
    <%= render partial:"comment", :locals => {:specific_post => post} %>
</div>
<br>
<%end%>
<p><%= link_to 'Add a new Post', new_user_post_path(@specific_user) %></p>
<button>Pagination</button>