<div class= "post-preview">
    <p>Post# <%= @specific_post.id %> by <%= @user.name %></p>
    <p>Comments: <%= @specific_post.comments_counter%>, Likes: <%= @specific_post.likes_counter %></p>
    <%= render "likes/new" %>
    <p><%= @specific_post.text %></p>
</div>
<div class= newcomment-block>
    <%= render 'comments/new'%>
</div>
<%@specific_post.comments.each do |comment|%>
<p><%= comment.author.name %>, <%= comment.text %></p>
<%end%>